<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MinJeong</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=RocknRoll+One&display=swap" rel="stylesheet">
    <title></title>
</head>

<body> 
    {% block contents %} 
        <!-- 위 아래를 상속 -->
    {% endblock %}
    <h1>상속되었음</h1>
    <footer>
    </footer>
</body>
</html>