{% extends 'base.html' %} {% load static %} {% block contents %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}"

<body> 
    <div class="bodyContainer">
        <div class="headpic">
            <img src ="{% static 'pic1.png'%}" width="100" height="100" class="logo"/>
            <h1>한번에 배달시키실 분</h1>
            <img src ="{% static 'pic1.png'%}" width="100" height="100" class="logo"/>
        </div>
        <br/>
        <a href='{% url 'new'%}' class="btn">새 글 작성하기</a><hr>
        {% for blog in blogs %}
            <a href="{%url 'detail' blog.id%}">
                <div class="blogContainer">
                    <h2>{{blog.title}}</h2>
                    <p>{{blog.sub_title}}</p>
                    <p>{{blog.contents}}</p>
                    <p>{{blog.created_at}}</p>
                </div>    
            </a>
        <br/>
        {% endfor %}
    </div>
        <div class="text_pagination">
            <div class="pagination">

                <div class="pagination_left">
                    {% if blogs.has_previous %}
                    <button type="button">
                        <a href="?page=1">처음으로</a>
                    </button>
                    <button type="button">
                        <a href="?page={{blogs.previous_page_number}}">이전으로</a>
                    </button>
                    {% endif %}
                    {% if not blogs.has_previous %}
                    <button type="button" disabled>
                        <a>처음으로</a>
                    </button>
                    <button type="button" disabled>
                        <a>이전으로</a>
                    </button>
                    {% endif %}
                </div>

                <div>
                    <span> {{ blogs.number }} </span>
                    <span> / </span>
                    <span> {{ blogs.paginator.num_pages }} </span>
                </div>
                
                <div class="pagination_right">
                    {% if blogs.has_next %}
                    <button type="button" disabled>
                        <a href="?page={{blogs.next_page_number}}" >다음으로</a>
                    </button>
                    <button type="button" disabled>
                        <a href="?page={{blogs.paginator.num_pages}}">마지막으로</a>
                    </button>
                    {% endif%}
                    {% if not blogs.has_next %}
                    <button type="button" disabled>
                        <a>다음으로</a>
                    </button>
                    <button type="button" disabled>
                        <a>마지막으로</a>
                    </button>
                    {% endif %}
                </div>
                
            </div>
        </div>

    <footer>
    </footer>
</body>
</html>

{% endblock %}





