{% extends 'base.html' %} {% block contents %}

<h1>새 글 작성하기</h1>
<form method="POST">
{% csrf_token%}
<table>
    {{form.as_table}}
</table>
<input type="submit" value="저장">
</form>

{% endblock %}



{% comment %} 
<form action="{% url 'create'%}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
        <h4>주소: <input type='text' name='title' /></h4>
        <h4>브랜드: <input type='text' name='sub_title' /></h4>
        <h4>메뉴: <textarea name='contents' id='' cols='30' rows='10'></textarea></h4>
        <h4>사진:</h4>
        <input type="file" name="image" />
        <input type='submit' value='작성하기' />
</form> 
{% endcomment %}